.my-carousel {
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.my-carousel div.img-content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.my-carousel div.img-content img {
    width: 100%;
    height: 100%;
}
.slider-decorator-0{
    padding-bottom: 0.2rem;
}
.feature{
    width: 100%;
    height: 100%;
}
.slider-frame{
    height: 100%;
}
.slider-list{
    height: 100%;
}